* text=auto
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.ps1 text eol=crlf
*.docx binary
*.pdf binary
*.png binary
*.pt binary
